		/* * {
			margin: 0;
			padding: 0;
		} */

		.background {
			background: black;
			background-blend-mode: darken;
			background-size: cover;
		}
        
        .banner{
            margin: 20px;
        }

        /* .mySlides {display:none;} */


          .footer-social-links a{
              width: 33px;
              height: 33px;
              /* line-height: 50px !important; */
              position: relative;
              /* margin: 0 5px; */
              text-align: center;   
              display: inline-block;
              color:red;
              
          }
          .footer-social-links a i,
          .footer-social-links a span{
              position: relative;
              bottom: 3px;
              left: 0; 
          }
          .footer-social-links a:before{
              content: "";
              display: inline-block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: -3px;
              left: 0;
              border: 1px solid white;
              
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
 
          }
          .footer-social-links a:hover{
              color: #fff;
          }
          .footer-social-links a:hover:before{
              background: #111;
          }
          .slider{
            width: 700px;
            height: 700px;
            border-radius: 10px;
            overflow: hidden;
            margin-left: 450px;
          }
          
          .slides{
            width: 500%;
            height: 500px;
            display: flex;
          }
          
          .slides input{
            display: none;
          }
          
          .slide{
            width: 20%;
            transition: 2s;
          }
          
          .slide img{
            width: 800px;
            height: 700px;
          }
          
          /*css for manual slide navigation*/
          
          .navigation-manual{
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
            margin-left: 400px;
          }
          
          .manual-btn{
            border: 2px solid red;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
          }
          
          .manual-btn:not(:last-child){
            margin-right: 40px;
          }
          
          .manual-btn:hover{
            background: black;
          }
          
          #radio1:checked ~ .first{
            margin-left: 0;
          }
          
          #radio2:checked ~ .first{
            margin-left: -20%;
          }
          
          #radio3:checked ~ .first{
            margin-left: -40%;
          }
          
          #radio4:checked ~ .first{
            margin-left: -60%;
          }
          
          /*css for automatic navigation*/
          
          .navigation-auto{
            position: absolute;
            display: flex;
            width: 800px;
            justify-content: center;
            margin-top: 460px;
          }
          
          .navigation-auto div{
            border: 2px solid red;
            display: none;
            padding: 5px;
            border-radius: 10px;
            transition: 1s;
          }
          
          .navigation-auto div:not(:last-child){
            margin-right: 40px;
          }
          
          #radio1:checked ~ .navigation-auto .auto-btn1{
            background: black;
          }
          
          #radio2:checked ~ .navigation-auto .auto-btn2{
            background: black;
          }
          
          #radio3:checked ~ .navigation-auto .auto-btn3{
            background: black;
          }
          
          #radio4:checked ~ .navigation-auto .auto-btn4{
            background: black;
          }

          .showcase video
            {
              
              top: 0;
              margin-left: 10px;
              /* justify-content: center; */
              background-color: #111;
              width: 100%;
              height: 90%;
              object-fit: cover;
              opacity: 0.8;
            }

          @media screen and (max-width: 700px) {
            .slider {
                width: 700px;
                height: 700px;
                border-radius: 5px;
                overflow: hidden;
                margin-left: 0px;
            }
            .navigation-manual {
                margin-left: -10px;
              }
          }



.speakers
{

width: 100%;
height: 700px;

}
        
	.card
	{
		position: relative;
		width: 350px;
		height: 190px;
		background: #fff;
		margin: 40px;
		border-radius: 20px;
		box-shadow: 0 35px 80px rgba(0,0,0,0.15);
		transition: 0.5s;
	}

	.card:hover
	{
		height:450px;
	}
	
	.imgBx
	{
	position: absolute;
	left: 50%; top: -50px; 
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 15x 50px rgba(0,0,0,0.35);
	overflow: hidden;
	transition: 0.5s
	}
		.card:hover .imgBx
		{
		width: 220px;
		height: 220px;
		}
		
		.imgBx img
		{
		position: absolute;
		top: 0; left: 0; 
		width: 100%; height: 100%;
		object-fit: cover;
		}

	.card .content
	{
	position: absoute;
	width: 100%; height: 100%;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	}
	
	.card .content .details
	{
	transform: translateY(186px);
	transition: 0.5s;
	}
	
	.card:hover .content .details
	{
	transform: translateY(0px);
	transition: 0.5s;
	}
	
